<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PointList</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/buyers">Buyers</a></li>
        <li><a href="/sellers">Sellers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="/">{{ user.username }}</a></li>
            <li><a href="/create_post">Create A Post</a></li>
            <li class="alzNavBarButton"><a href="/logout">Logout</a></li>

        {% else %}
            <li><a href="/login">Log in</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>


