{% extends 'pointlist/defaults.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <br/><br/>
    <form class="form-horizontal" action='/create_post' method='post'>{% csrf_token %}
  <fieldset style="width: 50%; margin: auto auto; align-content: center">
    <legend>Create a Post</legend>
    {# Title #}
      <div class="form-group">
          <label for="inputTitle" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
             <div class="has-feedback {% if form.name.errors %}has-error{% endif %}">
             {{ form.name }}
            {% if form.name.errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span id="inputError2Status" class="sr-only">(error)</span>{% endif %}
             </div>
          </div>
      </div>
    {# Description #}
      <div class="form-group">
         <label for="inputDescription" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <div class="has-feedback {% if form.description.errors %}has-error{% endif %}">
             {{ form.description }}
            {% if form.description.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span id="inputError2Status" class="sr-only">(error)</span>{% endif %}
             </div>
          </div>
      </div>
    {# Description #}
      <div class="form-group">
         <label for="inputPrice" class="col-lg-2 control-label">Price (PTC)</label>
          <div class="col-lg-10">
            <div class="has-feedback {% if form.price.errors %}has-error{% endif %}">
             {{ form.price }}
            {% if form.price.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span id="inputError2Status" class="sr-only">(error)</span>{% endif %}
             </div>
          </div>
      </div>

    {# Public Address #}
      <div class="form-group">
          <label for="inputPublicAddress" class="col-lg-2 control-label">Public Address</label>
          <div class="col-lg-10">
             <div class="has-feedback {% if form.public_address.errors %}has-error{% endif %}">
             {{ form.public_address }}
            {% if form.public_address.errors %}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span id="inputError2Status" class="sr-only">(error)</span>{% endif %}
             </div>
          </div>
      </div>
    {# Buyer/Seller #}
      <div class="form-group">
        <label for="TypeOfPost" class="col-lg-2 control-label">Type of Post</label>
          <div class="col-lg-10">
              <div class="has-feedback {% if form.type_of_post.errors %}has-error{% endif %}">
                    {{ form.type_of_post }}
                    {% if form.type_of_post.errors %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span id="inputError2Status" class="sr-only">(error)</span>
                    {% endif %}
                </div>
          </div>
      </div>

      <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Create Post</button>
          </div>
      </div>

    </fieldset>
    </form>
{% endblock %}
